<?php
return [
    'aws' => [
        'credentials' => [
            'key'    => 'aws_key',
            'secret' => 'aws_secret',
        ]
        'region' => 'eu-central-1',
        'version' => 'latest'
    ]
];
