<?php

return [
    'app_cache' => [
        'adapter' => [
            'name'    => 'filesystem',
            'options' => ['ttl' => 86400, 'cache_dir' => __DIR__."/../../data/cache/app-cache"]
        ],
        'plugins' => [
            'exception_handler' => ['throw_exceptions' => true],
            'serializer'
        ],
    ]
];