<?php
use IodogsApplication\Controller\ContentController;
return [
    'router' => [
        'routes' => [
            'region-subdomain' => [
                'type' => 'Hostname',
                'options' => [
                    'route' => '[:sub].__SITE_HOST_NAME__',
                    'constraint' => [
                        'sub' => '([a-zA-Z0-9-]+)',
                    ],
                    'defaults' => [
                        'controller' => ContentController::class,
                        'action' => 'region'
                    ],
                ],
                'child_routes' => [
                    'region-page' => [
                        'type' => 'Literal',
                        'options' => [
                            'route' => '/',
                            'defaults' => [
                                'controller' => ContentController::class,
                                'action' => 'region'
                            ],
                        ],
                    ],
                ],
            ],
            'app' => [
                'type' => 'Hostname',
                'options' => [
                    'route' => '__SITE_HOST_NAME__',
                ],
            ],
        ],
    ],
];