<?php
return array(
    'router' => array(
        'routes' => array(
            'region-subdomain' => array(
                'type' => 'Hostname',
                'options' => array(
                    'route' => '[:sub].__SITE_HOST_NAME__',
                    'constraint' => array(
                        'sub' => '([a-zA-Z0-9-]+)',
                    ),
                    'defaults' => array(
                        'controller' => 'ContentControllerFactory',
                        'action' => 'region'
                    ),
                ),
                'child_routes' => array(
                    'region-page' => array(
                        'type' => 'Literal',
                        'options' => array(
                            'route' => '/',
                            'defaults' => array(
                                'controller' => 'ContentControllerFactory',
                                'action' => 'region'
                            ),
                        ),
                    ),
                ),
            ),
            'app' => array(
                'type' => 'Hostname',
                'options' => array(
                    'route' => '__SITE_HOST_NAME__',
                ),
//                'child_routes' => array(),
            ),
        ),
    ),
);